{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<script>
    // Back function disabled 
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
</script>

<head>
    <title>Instructions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/instructions.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<body style="background: radial-gradient(rgb(37,37,37), #121212)" id="iModal3">
    <nav class="navbar navbar-expand-lg navbarr pt-2 pb-2">
        <div class="container-fluid">
            <!-- <a class="navbar-brand navvi" href="#" style="padding: 0px;"> -->
            <img src="{% static 'img/rclogo.png' %}" alt="RC Logo" height="30px" width="40px">
            <!-- </a> -->
            <!-- <a class="navbar-brand navvi timer" href="#" style="margin-left: 10px;">TIMER</a> -->

            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars" style="color: white;"></i>
        </button>
        <div class="collapse navbar-collapse stroke" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item ">
                    <a class="nav-link active navvi" aria-current="page" href="./submissions.html"
                        style="margin-left: 10px;margin-right: 10px;">Submissions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navvi" aria-current="page" href="./leaderboard.html"
                        style="margin-left: 10px;margin-right: 10px;">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navvi" aria-current="page" href="./instructions.html"
                        style="margin-left: 10px;margin-right: 10px;">Instructions</a>
                </li>
            </ul>
        </div> -->
            <img class="navbar-brand navvi pisblogo" href="#" style="padding: 0px; margin-left: 20px;"><img
                src="{% static 'img/pisblogo.png' %}" alt="PISB Logo" height="40px"></img>
        </div>
    </nav>
    <div class="container-1">
        <div class="giveborderstop"
            style="text-align: center; background-color: rgba(0,0,0,0.4); color: black;     padding-top: 20px; padding-bottom: 20px; border: 0.5px solid aquamarine; border-radius: 10px;">
            <h1 class="title">INSTRUCTIONS</h1>
            <p style=" color: white">
                <!-- Lorem ipsum dolor, <br>sit amet consectetur adipisicing elit. Quis <br>voluptatem
                voluptates mollitia magnam doloribus<br> accusamus alias et perferendis<br> veritatis pariatur! Enim,
                totam nisi! Est, <br>hic odit iusto ratione quo eveniet. -->
            <p style=" color: white">1. The competition is of 30 minutes.</p>
            <p style=" color: white">
                2. The question put in front of you has only ONE INTEGER
                answer.
            </p>
            <p style=" color: white">3. You will only proceed if you attempt the question.</p>
            <p style=" color: white">4. You will have 2 attempts to answer the question.</p>
            <p style=" color: white">
                5. The attempts will carry marks given in the marking scheme
                i.e. <br> the first attempt will have a marking scheme of +4,-2
                and the second attempt has marking scheme of +2,-1.
            </p>
            <p style=" color: white">
                6. You can log out of the competition any time you want
                through the LOGOUT button.
            </p>
            <p style=" color: white">
                7. You will be given 2 LIFELINES which are explained below.
            </p>
            </p>
        </div>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

        <div class="container">
            <div class="main-timeline">

                <!-- start experience section-->
                <div class="timeline">
                    <div class="icon"></div>
                    <div class="date-content">
                        <div class="date-outer">
                            <span class="date">
                                <!-- <span class="month">2 Years</span> -->
                                <span class="year">1</span>
                            </span>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <h5 class="title">Life Line 1</h5>
                        <p class="description">
                            <!-- The zones of destiny.....
                            Players will get to choose the marking scheme for all the reamaing questions on the basis of
                            their current zone after 45 mins into the game.....<br>
                            Red zone -- People below 40%ile....no change in marking scheme....<br>

                            Green zone -- people between 40%ile to 80%ile....... marking scheme will be +6 -4.<br>

                            Purple zone -- top 20%ile players...... marking scheme will be +10 -10. -->
                            <span style="font-size: 30px;font-weight: bold;">Zones of destiny</span> <br>
                            <br>
                            The players will be divided into 3 zones according to their current score in the contest.
                            <br>
                            Zone 1 - Red Zone <br>
                            Zone 2 - Green Zone <br>
                            Zone 3 - Purple Zone <br>
                            <br>
                            The color of the progress bar denotes the zone of the particular player. <br>
                            <br>
                            By means of this lifeline, a player can change the marking scheme he/she plays with for 1
                            question as follows: <br>
                            Red Zone – +4,-2 (no change) <br>
                            Green Zone – +6,-4 <br>
                            Purple Zone – +10,-10 <br>
                            <br>
                            <strong>
                            Note that this lifeline may be used only once and the marking scheme shall remain the same
                            for both attempts.
                            </strong>
                        </p>
                    </div>
                </div>
                <!-- end experience section-->

                <!-- start experience section-->
                <div class="timeline">
                    <div class="icon"></div>
                    <div class="date-content">
                        <div class="date-outer">
                            <span class="date">
                                <!-- <span class="month">1</span> -->
                                <span class="year">2</span>
                            </span>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <h5 class="title">Life Line 2</h5>
                        <p class="description">
                            <span style="font-size: 30px;font-weight: bold;">Cheatcode</span> <br><br>
                            When you enter the green Zone, you are eligible to use this lifeline
                            You can activate this life only for one particular question. <br>
                            By activating this lifeline your current question will be replaced by a riddle with the
                            marking scheme + 2 for a correct answer and -4 for a wrong one.
                            <br><br>
                            <strong> Note -- The format of answer will be 'all small no spaces'. </strong>
                        </p>
                    </div>
                </div>
                <!-- end experience section-->
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">
                <div class="main-timeline5">
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">1</span></div>
                        <div class="timeline-content  giveborders" style="   ">
                            <h3 class="title">Life Line 1</h3>
                            <p class="description">
                                The zones of destiny.....
                                Players will get to choose the marking scheme for all the reamaing questions on the basis of their current zone after 45 mins into the game.....<br>
                                Red zone -- People below 40%ile....no change in marking scheme....<br>
                                
                                Green zone -- people between 40%ile to 80%ile....... marking scheme will be +6 -4.<br>
                                
                                Purple zone -- top 20%ile players...... marking scheme will be +10 -10.
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">2</span></div>
                        <div class="timeline-content  givebordersl" style="">
                            <h3 class="title">Life Line 2</h3>
                            <p class="description">
                                If user is in the range of marks required and he encounters a question which is not answerable he can use this lifeline. 
Using this lifeline he can opt to pass the question with +2 marks by guessing a cheat code(he will be provided with a question whose answer is cheatcode  and aslo hints to answer that cheatcode) 
The cheat code will be related to CyberPunk. 
If he correctly guesses the cheat code then he'll get the +2 for that question else negative marking of -6
                            </p>
                        </div>
                    </div>-->
        <div style="text-align: center;">
            <a href="{% url 'start' %}" onclick="return confirm('Are you ready to start quiz ?');">
                <button type="button" class="mt-4 btn my-btn" style="color: black; background-color: #39998e; box-shadow: 2px 2px 10px black; font-size: 30px;
                        ">Start</button>
            </a>
        </div>
        <!-- </div>
            </div>
        </div> -->

    </div>
    <footer class="text-center fixed-bottom footerr">
        <div class="container-fluid">
            <div class="footer-text pt-3 pb-3" style="color: #d1f7ff;">PISB <span>&copy</span></div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"
        charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/questionpg.js' %}"></script>
    <script src="https://kit.fontawesome.com/84ff0cdea4.js" crossorigin="anonymous"></script>
</body>