<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  {{title}}  </title>
</head>
<script>
  history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
</script>
<body style="margin: 5px;padding:5px">
    <h3>Hello {{user.first_name}}</h3>
    &nbsp;
    <a href="{% url 'logout' %}"
    onclick="return confirm('Hey {{user.first_name}}, Are you sure to logout ?');"><button type="button"
      class="btn btn-outline-success my-2 my-sm-0">Logout</button></a>
      <br><br>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUjblYdDj9lpwwIFHtHWx9q3dG_DjuaI09Gg&usqp=CAU" alt="Instructions">
      <br><br>
    <a href="{% url 'start' %}"
    onclick="return confirm('Are you ready to start quiz ?');"><button type="button"
      class="btn btn-outline-success my-2 my-sm-0">
      Start Quiz</button></a>
</body>
</html>