<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  {{title}}  </title>
</head>

<body style="margin: 5px;padding:5px">
    <h3>
        Login Panel
    </h3>
    <form method="post" action="{% url 'login' %}" autocomplete="off">
        {% csrf_token %}
        <label for="username">Username : </label>
        <input type="text" name="username" id="username" maxlength="20" required><br><br>
        <label for="password">Password : </label>
        <input type="password" name="password"  maxlength="20" id="password" required> <br><br>
        <input type="submit" value="Submit">
    </form>
    <h4>
        In order to contact superadmins for any issue <a href="tel:+911234567890">Call on +911234567890</a>&nbsp;Or&nbsp;<a href="mailto:adminpanel@gmail.com">Mail Here</a>
    </h4> 
    {% for i in messages %}
    <h4>
     Message : {{i}}
    </h4>
    {% endfor %}
</body>

</html>