<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{title}} </title>
</head>
<script>
  history.pushState(null, null, location.href);
  window.onpopstate = function () {
    history.go(1);
  };
</script>
<style>
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    size: 8px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
</style>

<body style="margin: 5px;padding:5px">
  Hello {{user.first_name}}
  &nbsp;
  <a href="{% url 'logout' %}" onclick="return confirm('Hey {{user.first_name}}, Are you sure to logout ?');"><button
      type="button" class="btn btn-outline-success my-2 my-sm-0">Logout</button></a>
  <h3>Time Left : <span id="timer"></span> &nbsp;&nbsp;&nbsp; No of Attempts Left : {{noa}} &nbsp;&nbsp;&nbsp; Total
    Score till now : {{score}} &nbsp;&nbsp;&nbsp; Marking Scheme : {{ms}} &nbsp;&nbsp;&nbsp;


    {% if lazone == "Used" %}
    <br><br>
    <div class="tooltip">
      <button disabled style="cursor: not-allowed;">Activate lifeline 1</button>
      <span class="tooltiptext"> Lifeline 1 Used </span>
    </div>
    {% else %}
    Zone : {{zone}}
    {% if zone_active %}
    ( Activated ) <br><br>
    {% else %}
    ( Not Activated ) <br><br>

    <form action="{% url 'activatelifeline1' %}" style="display: inline;"><input style="display: inline;" type="submit"
        value="Activate lifeline 1" name="l1"></form>

    {% endif %}
    {% endif %}


    
    &nbsp;



    {% if riddle %}
    <div class="tooltip">
      <button disabled style="cursor: not-allowed;">Activate lifeline 2</button>
      <span class="tooltiptext"> Lifeline 2 Used </span>
    </div>
    {% else %}
    {% if zone in uz %}
    <div class="tooltip">
      <button disabled style="cursor: not-allowed;">Activate lifeline 2</button>
      <span class="tooltiptext"> You are not applicable to this lifeline. </span>
    </div>
    {% else %}
    <form action="{% url 'activatelifeline2' %}" style="display: inline;"><input style="display: inline;" type="submit"
        value="Activate lifeline 2" name="l2"></form>
  </h3>
  {% endif %}
  {% endif %}



  
  <h3>Question</h3>
  Q ) {{q.question}}
  <br>
  <p>
    Description : {{q.questiondesc}}
  </p>
  <br>
  {% if noa == 1 %}
  <input type="text" id="r1" value="{{r1}}" disabled style="cursor: not-allowed;">
  <br>
  <br>
  {% endif %}
  <form action="{% url 'home' %}" method="post" autocomplete="off" >
    {% csrf_token %}
    <input type="text" name="id" value="{{q.id}}" style="display: none;">
    <input type="text" name="ans">
    <input type="submit" value="Submit">
  </form>
  <br>
  {% if noa == 2 %}
  <input type="text" id="r1" value="Attempt-2" disabled style="cursor: not-allowed;">
  {% endif %}
  <h4>Note : Your answer should be in lower case only and without any space</h4>
  <br>
  <h4>
    {% for i in messages %}
    {{i}}
    {% endfor %}
  </h4>
</body>
<script>
  document.getElementById('timer').innerHTML =
    Number('{{mins}}') + ":" + Number('{{secs}}');
  startTimer();


  function startTimer() {
    var presentTime = document.getElementById('timer').innerHTML;
    var timeArray = presentTime.split(/[:]+/);
    var m = timeArray[0];
    var s = checkSecond((timeArray[1] - 1));
    if (s == 59) { m = m - 1 }
    if (m < 0) {
      return
    }

    document.getElementById('timer').innerHTML =
      m + ":" + s;
    console.log(m)
    setTimeout(startTimer, 1000);

  }

  function checkSecond(sec) {
    if (sec < 10 && sec >= 0) { sec = "0" + sec }; // add zero in front of numbers < 10
    if (sec < 0) { sec = "59" };
    return sec;
  }
</script>

</html>