{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Round-1|QuestionPage </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/instructions.css' %}">
  <link rel="stylesheet" href="{% static 'css/questionpg.css' %}">
<!--  <link rel="stylesheet" href="{% static 'css/glitche.css' %}">-->

  <!-- <link rel="stylesheet" href="./qpgcss.css"> -->

</head>
<style>
            #cbtn{
                background-color: #39998e;
                color: black;
                border: 1px solid black;
            }
            #cbtn:hover{
                background-color: black;
                color: #39998e;
                border: 1px solid #39998e;
                transition: 0.5s ease-in;
            }
        </style>
<script>
  history.pushState(null, null, location.href);
  window.onpopstate = function () {
    history.go(1);
  };
</script>
<body>
  <nav class="navbar navbar-expand-lg navbarr">
    <div class="container-fluid">
      <a class="navbar-brand navvi" href="#" style="padding: 0px;"><img src="{% static 'img/rclogo.png' %}"
          alt="Clash Logo" height="52px"></a>
      <a class="navbar-brand navvi timer" href="#" style="margin-left: 20px;color:white;">TIMER : <span id="timer"></span> </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<!--        <i class="fas fa-bars" style="color: white;"></i>-->
          <img src="{% static 'img/bars.png' %}" alt="bars icon" style="height:20px;width:20px">
      </button>
      <div class="collapse navbar-collapse stroke" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link navvi" aria-current="page"
              style="margin-left: 10px;margin-right: 10px;" data-bs-toggle="modal" data-bs-target="#iModal">Instructions</a>
          </li>
          <!-- Button trigger modal -->
<!--            <button type="button" class="btn btn-primary" >-->
<!--              Launch demo modal-->
<!--            </button>-->

            <!-- Modal -->
            <div class="modal fade" id="iModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
              <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
                <div class="modal-content" style="border:1px solid #39998e">
                  <div class="modal-header" style="color:white;background-color:black;text-align:center">
                    <h5 class="modal-title" id="exampleModalLabel" >Instructions</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="background-color:black;" id="iModal3">
                            <div class="container" >
<!--                                <ol>-->
<!--                                    <li>-->
<!--                                        <p class="description" style="color:white;">-->
<!--                                            <span style="color:green;"><h1>The zones of destiny.....</h1></span>-->
<!--                                        Players will get to choose the marking scheme for all the reamaing questions on the basis of-->
<!--                                        their current zone after 45 mins into the game.....<br>-->
<!--                                        Red zone &#45;&#45; People below 40%ile....no change in marking scheme....<br>-->

<!--                                        Green zone &#45;&#45; people between 40%ile to 80%ile....... marking scheme will be +6 -4.<br>-->

<!--                                        Purple zone &#45;&#45; top 20%ile players...... marking scheme will be +10 -10.-->
<!--                                        </p>-->
<!--                                    </li>-->
<!--                                </ol>-->
            <div class="main-timeline" style="">

                <!-- start experience section-->
                <div class="timeline">
                    <div class="icon"></div>
                    <div class="date-content">
                        <div class="date-outer">
                            <span class="date">
                                <!-- <span class="month">2 Years</span> -->
                                <span class="year">1</span>
                            </span>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <h5 class="title">Life Line 1</h5>
                        <p class="description">
                            The zones of destiny.....
                            Players will get to choose the marking scheme for all the reamaing questions on the basis of
                            their current zone after 45 mins into the game.....<br>
                            Red zone -- People below 40%ile....no change in marking scheme....<br>

                            Green zone -- people between 40%ile to 80%ile....... marking scheme will be +6 -4.<br>

                            Purple zone -- top 20%ile players...... marking scheme will be +10 -10.
                        </p>
                    </div>
                </div>
                <!-- end experience section-->

                <!-- start experience section-->
                <div class="timeline">
                    <div class="icon"></div>
                    <div class="date-content">
                        <div class="date-outer">
                            <span class="date">
                                <!-- <span class="month">1</span> -->
                                <span class="year">2</span>
                            </span>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <h5 class="title">Life Line 2</h5>
                        <p class="description">
                            If user is in the range of marks required and he encounters a question which is not
                            answerable he can use this lifeline.
                            Using this lifeline he can opt to pass the question with +2 marks by guessing a cheat
                            code(he will be provided with a question whose answer is cheatcode and aslo hints to answer
                            that cheatcode)
                            The cheat code will be related to CyberPunk.
                            If he correctly guesses the cheat code then he'll get the +2 for that question else negative
                            marking of -6
                        </p>
                    </div>
                </div>
                <!-- end experience section-->
            </div>
        </div>
                  </div>
                  <div class="modal-footer" style="color:white;background-color:black;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="color:white;background-color:black;border:1px solid #39998e">Close</button>
<!--                    <button type="button" class="btn btn-primary">Save changes</button>button-->
                  </div>
                </div>
              </div>
            </div>
          <!-- <li class="nav-item">
            <a class="nav-link navvi" aria-current="page" href="#"
              style="margin-left: 10px;margin-right: 10px;">Hints</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navvi" aria-current="page" href="#"
              style="margin-left: 10px;margin-right: 10px;">Score : </a>
          </li> -->
          <li class="nav-item navvi">
            <a class="nav-link " style="margin-left: 10px;margin-right: 10px;" data-bs-toggle="modal"
              data-bs-target="#logoutmodal">Logout
            </a>
          </li>
          <!-- Modal -->
          <div class="modal fade" id="logoutmodal" tabindex="-1" aria-labelledby="logoutmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content" style="background-color: black;color: white;border: 1px solid aquamarine;">
                <div class="modal-header">
                  <h5 class="modal-title " id="logoutmodalLabel">Alert!</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to logout ?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <a href="{% url 'logout' %}">
                  <button type="button" class="btn btn-danger">Logout</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </ul>
      </div>
      <a class="navbar-brand navvi pisblogo" href="#" style="padding: 0px; margin-left: 20px;"><img
          src="{% static 'img/pisblogo.png' %}" alt="Clash Logo" height="30px"></a>
    </div>
  </nav>

  <div class="maindiv container-fluid">
    <div class="mainc">
      <div class="mainc1">
        <div class="qat givetextcolors headings" style="border-radius: 10px;">
          <div class="headings">
            <h3 style="margin: 10px 0px 10px 0px;">Questions Attempted: {{noqa}}</h3>
          </div>
        </div>
        <div class="qat givetextcolors headings" style="border-radius: 10px; background-color: black;">
          <div class="headings">
            <h3 style="margin: 10px 0px 10px 0px; background-color: black;">Score : {{score}}</h3>
          </div>
        </div>
        <div class="life">
          <div class="lifeh givetextcolors headings" id="lifeh">
            <div class="headings">
              <h3 style="margin: 10px 0px 10px 0px;">
                Lifelines:
              </h3>
            </div>

          </div>
          <div class="life1">

            {% if lazone == "Used" %}
            <!-- when lifeline is used -->
            <input type="button" value="Zones of Destiny ( Used )" name="l1" class="btn post life1btn "
              style="border-color: #d1f7ff;cursor: not-allowed;" disabled>
            {% else %}
            <!-- Check if zone is activated  -->
            <!-- Zone : {{zone}} -->
            {% if zone_active %}
            <input type="button" value="Zones of Destiny ( Activated )" name="l1" class="btn post life1btn "
              style="border-color: #d1f7ff;cursor: not-allowed;" disabled>
            {% else %}

            <!-- <form action="{% url 'activatelifeline1' %}" style="display: inline;"><input style="display: inline;"
                type="submit" value="Activate lifeline 1" name="l1"></form> -->





            <!-- <h4>l1</h4>
                  <input type="button" value="Zones of De"> -->
            <!-- <button type="button" class="btn post life1btn " style="border-color: #d1f7ff;"><h4 class="post-title">Zones of Destiny</h4></button> -->
            <form action="{% url 'activatelifeline1' %}" style="display: inline;">
              <input type="submit" value="Zones of Destiny" name="l1" class="btn post life1btn "
                style="border-color: #d1f7ff;">
            </form>

            {% endif %}
            {% endif %}
          </div>

          
          <div class="life2">

          {% if riddle %}
          <button type="button" disabled class="btn post2 life2btn " style="border-color: #d1f7ff;cursor: not-allowed;">
            <h4 class="post-title2"><i class="fas fa-theater-masks"></i>Cheat Code ( Used )</h4>
          </button>
          {% else %}
          {% if zone in uz %}
            <button type="button" disabled class="btn post2 life2btn " style="border-color: #d1f7ff;cursor: not-allowed;">
              <h4 class="post-title2"><i class="fas fa-theater-masks"></i>Cheat Code ( Not Applicable )</h4>
            </button>
          {% else %}
          <form action="{% url 'activatelifeline2' %}">
            <input  class="btn post2 life2btn " style="border-color: #d1f7ff;"
              type="submit" value="Cheat Code" name="l2"></form>
          </h3>
          {% endif %}
          {% endif %}



            <!-- <button type="button" class="btn post2 life2btn " style="border-color: #d1f7ff;">
              <h4 class="post-title2"><i class="fas fa-theater-masks"></i>Cheat Code</h4>
            </button> -->
          </div>



        </div>
      </div>
      <div class="mainc2">
        <div class="pbar">
          <!-- <div style="text-align: center;" class="yp  "><h2 class="givetextcolors" data-text="
                YourProgress">YourProgress</h2></div>
            <div class="progress ">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div> -->
          <div>
            <h3 style="color:white;">Your Progress</h3>

            <div class="progress "
              style="background-color: transparent;border: 1px solid black;box-shadow: inset 0px 0px 10px black; height: 20px;">
              <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar"
                aria-valuenow="{{noqa}}" aria-valuemin="0" aria-valuemax="5"
                style="height: 20px;background-color: {{color}};;width: {{pbar}}%;" id="pbar1"></div>
            </div>
          </div>
          <div class="bar-container center-content">
            <div class="progress-bar">
              <div class="fill red"></div>
            </div>

          </div>
        </div>
        <div class="qtxtbx">
          <textarea name="questionarea" id="questionarea" readonly>
                {{q.question}} 
                {{q.questiondesc}}
              </textarea>
        </div>
      </div>
      <div class="mainc3">
        <div class="attempts  givetextcolors">
          <div class="headings" style="width:100%;">
            <h3 style="margin: 10px 0px 10px 0px;">Attempts</h3>
          </div>

          {% if noa == 2 %}
          <!-- disable attempt 2  -->
          <form action="{% url 'home' %}" method="post" autocomplete="off" style="width: 100%;">
            {% csrf_token %}
            <input type="text" name="id" value="{{q.id}}" style="display: none;">
            <div class="at1 form-floating">
              <input type="text" class="form-control" name="ans" id="att1" placeholder=" Attempt 1"
                style="margin-top:10px;">
              <label for="att1" style="color: black;">Attempt 1</label>
            </div>
            <div class="at2 form-floating">
              <input type="text" class="form-control" id="att2" placeholder=" Attempt 2"
                style="margin-top:20px;cursor: not-allowed;" disabled>
              <label for="att2" style="color: black;">Attempt 2</label>
            </div>
            <div class="ats">
              <input type="submit" value="Submit" id="Sbtn" class=" btn btn-success">
            </div>
          </form>
          {% endif %}

          {% if noa == 1 %}
          <!-- disable attempt 1 -->
          <form action="{% url 'home' %}" method="post" autocomplete="off" style="width: 100%;">
            {% csrf_token %}
            <input type="text" name="id" value="{{q.id}}" style="display: none;">
            <div class="at1 form-floating">
              <input type="text" class="form-control" value="{{r1}}" id="att1" placeholder=" Attempt 1"
                style="margin-top:10px;cursor: not-allowed;" disabled>
              <label for="att1" style="color: black;">Attempt 1</label>
            </div>
            <div class="at2 form-floating">
              <input type="text" name="ans" class="form-control" id="att2" placeholder=" Attempt 2"
                style="margin-top:20px">
              <label for="att2" style="color: black;">Attempt 2</label>
            </div>
            <div class="ats">
              <input type="submit" value="Submit" id="Sbtn" class=" btn btn-success">
            </div>
          </form>
          {% endif %}



        </div>
        <!-- <div class="pied"> -->
        <!-- <div class="container1">
                <div class="box">
                  <div class="chart" data-percent="90" >90%</div>
                  <h4>hello</h4>
                </div> -->
        <div class="markings givetextcolors fun" style="border-radius: 10px;">
          <div class="headings">
            <h4 style="padding: 10px 0px 10px 0px;">Marking Scheme</h4>
          </div>

          <div class="msb">
            <div class="msbl">
              <h4 style="color: green;font-size: 16px;">{{ms0}}</h4>
            </div>
            <div class="msbr">
              <h4 style="color: red;font-size: 16px;">{{ms1}}</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
      <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: black;border: 1px solid #39998e;">
        <div class="modal-header" style="text-align: center;">
          <h3 class="modal-title" id="modt" style="color: white;text-align: center;">Modal title</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: white;"><i class="fa-solid fa-xmark" style="color: white;height: 15px;width: 15px;"></i></button>
        </div>
        <div class="modal-body" style="background-color: #141414;">
          <h5 id="modbc" style="color: white;text-align: center;margin:10px  0px ;"></h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cbtn">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  {% for i in messages %}
    <div>
        <textarea name="" id="yn" cols="30" rows="10" style="display: none;">1</textarea>
        <textarea name="" id="alert" cols="30" rows="10" style="display: none;">{{i.tags}} !</textarea>
        <textarea name="" id="msg" cols="30" rows="10" style="display: none;">{{i}} !</textarea>
    </div>
  {% endfor %}
  <footer class="text-center fixed-bottom footerr">
    <div class="container-fluid">
      <div class="footer-text pt-3 pb-3" style="color: #d1f7ff;">PISB <span>&copy</span></div>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"
    charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/questionpg.js' %}"></script>
  <script src="https://kit.fontawesome.com/84ff0cdea4.js" crossorigin="anonymous"></script>
  <script>
    HTMLElement.prototype.setVariable = function (variableName, newValue) {
      this.style.setProperty(`--${variableName}`, newValue);
    };

    const getRandomPercentage = () => Math.floor(Math.random() * 99) + 1;

    const progressBarFills = document.querySelectorAll('.bar-container .progress-bar .fill');
    progressBarFills.forEach(fill => {
      const currentPercentage = getRandomPercentage();
      fill.setVariable('fill', `${currentPercentage}%`);
      fill.setAttribute('data-fill', currentPercentage);
    });
  </script>
  <script>
    document.getElementById('timer').innerHTML =
      Number('{{mins}}') + ":" + Number('{{secs}}');
    startTimer();


    function startTimer() {
      var presentTime = document.getElementById('timer').innerHTML;
      var timeArray = presentTime.split(/[:]+/);
      var m = timeArray[0];
      var s = checkSecond((timeArray[1] - 1));
      if (s == 59) { m = m - 1 }
      if (m < 0) {
        return
      }

      document.getElementById('timer').innerHTML =
        m + ":" + s;
      // console.log(m)
      setTimeout(startTimer, 1000);

    }

    function checkSecond(sec) {
      if (sec < 10 && sec >= 0) { sec = "0" + sec }; // add zero in front of numbers < 10
      if (sec < 0) { sec = "59" };
      return sec;
    }
        // var pbar = int('{{noqa}}')*20;
        // console.log(pbar);
        // document.getElementById("pbar1").style.width = "20%";
  </script>
<script>
        var a=document.getElementById('yn').textContent;
        console.log(a);

        if(a){
            let b=document.getElementById('alert').textContent;
            console.log(b);
            let c=document.getElementById('msg').textContent;
            console.log(c);
            if(b=='success !'){
                document.getElementById('modt').style.color='green';
                document.getElementById('alert').textContent="Woah !";
            }
            if(b=='error !'){
                document.getElementById('modt').style.color = 'red';
                document.getElementById('alert').textContent="Oops !";
            }
            document.getElementById('modt').innerHTML=document.getElementById('alert').textContent;
            document.getElementById('modbc').innerHTML=c;
            $(document).ready(function(){
		$("#myModal").modal('show');
	    });
        }


    </script>

</body>

</html>