<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<script>
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
      history.go(1);
    };
  </script>
<body>
    <h3>Time Left : <span id="timer"></span> &nbsp;&nbsp;&nbsp; Score : {{score}} &nbsp;&nbsp;&nbsp; Marking Scheme : {{ms}}</h3>

    
    <h3>Riddle Question</h3>
    Q ) {{q.riddle}}
    <br>
    <p>
      Description : {{q.riddledesc}}
    </p>
    <br>
    <form action="{% url 'riddle' %}" method="post" autocomplete="off">
        {% csrf_token %}
        <input type="text" name="id" value="{{q.id}}" style="display: none;">
        <input type="text" name="ans">
        <input type="submit" value="Submit">
    </form>
</body>
<script>
    document.getElementById('timer').innerHTML =
      Number('{{mins}}') + ":" + Number('{{secs}}');
    startTimer();
  
  
    function startTimer() {
      var presentTime = document.getElementById('timer').innerHTML;
      var timeArray = presentTime.split(/[:]+/);
      var m = timeArray[0];
      var s = checkSecond((timeArray[1] - 1));
      if (s == 59) { m = m - 1 }
      if (m < 0) {
        return
      }
  
      document.getElementById('timer').innerHTML =
        m + ":" + s;
      console.log(m)
      setTimeout(startTimer, 1000);
  
    }
  
    function checkSecond(sec) {
      if (sec < 10 && sec >= 0) { sec = "0" + sec }; // add zero in front of numbers < 10
      if (sec < 0) { sec = "59" };
      return sec;
    }
  </script>
</html>