<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  {{title}}  </title>
</head>
<script>
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
</script>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    th{
      background-color: #dddddd;
      text-align: center;
      padding: 8px;
    }

    td {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
<body style="margin: 5px;padding:5px">
    <h2>
        Superuser Panel
    </h2>
    Hello {{user.first_name}} 
    &nbsp;
    <a href="{% url 'logout' %}"
    onclick="return confirm('Hey {{user.first_name}}, Are you sure to logout ?');"><button type="button"
      class="btn btn-outline-success my-2 my-sm-0">Logout</button></a>
    &nbsp;
    <a href="{% url 'instructions' %}"><button>Refresh Page</button></a>
    &nbsp;
    <a href="{% url 'leaderboard' %}" target="_blank"><button>Leaderboard</button></a>
    <br><br>
    <a href="{% url 'register' %}" target="_blank" style="color: blue;">Register New User</a>
    <br><br>
    <form method="post" action="{% url 'instructions' %}" autocomplete="off">
        {% csrf_token %}
        <label for="username">Username of Candidate : </label>
        <input type="text" name="username" id="username" required>&nbsp;
        <input type="submit" value="Submit">
    </form>
    {% if status %}
    <br>
    <hr>
    <h3> Info of Participant [ <em> <u>{{Name}}</u> </em> ] </h3> 
    Name : {{Name}}<br><br>
    Username : {{Username}}<br><br>
    Email : {{Email}}<br><br>
    Score (Till Now) : {{Score}}<br><br>
    Attempted Questions : {{al}}<br><br>
    Unattempted Questions : {{ul}}<br><br>
    Correct Questions : {{cl}}<br><br>
    Last Logged In Time : {{login}}<br><br>
    Start Time Login : {{fstlgn}}<br><br>
    Expected Log Out Time : {{exptlgt}}<br><br>
    Quiz Completion Time : {{comptime}}<br><br>
    Time Taken (Hrs : Mins : Secs) : {{timetaken|slice:":7"}}<br><br>
    Lifelines Used : {% if l1 %} Lifeline 1{% if l2 %}, {% endif %}{% endif %}{% if l2 %} Lifeline 2 {% endif %} {% if l1l2 %}{% else %}Nothing Used{% endif %}
    <hr>

    <h3>Allow {{fname}} to reattempt</h3>
    <form method="post" action="{% url 'addtime' %}" autocomplete="off">
        {% csrf_token %}
        <label for="time">Extend Upto : </label>
        <input type="text" name="time" id="time" placeholder="In secs" required> <br>
        <!-- <span style="color: grey;">
          Format : 12 hrs clock system ( Eg : 2:00 PM )
      </span> 
        <br> -->
        <br>
        <label for="password">Your Password to Confirm : </label>
        <input type="password" name="password" id="password" required> <br><br>
        <input type="text" name="username" value="{{Username}}" id="username" style="display: none;"> 
        <input type="submit" value="Submit">
    </form>
    {% else %}
    <br><hr><br>
    <details>
        <summary><h3 style="display: inline;cursor:pointer">DashBoard (All Users Info)</h3></summary>
        <div style="margin: 0 20px;">
        <br>
        <h4 style="display: inline;">Total Number of Registered Users : </h4>{{NRU}} <br><br>
        <h4 style="display: inline;">Total Number of LoggedIn Users : </h4>{{NLU}} <br><br>
        <h4 style="display: inline;">Total Number of QuizCompleted Users : </h4>{{NCU}} <br><br>
        <div style="overflow-y:auto;">
        <table>
            <thead>
            <tr>
              <th>Full Name</th>
              <th>Time when Registered</th>
              <th>Time when Started quiz</th>
              <th>Time when Completed quiz</th>
              <th>Score Till Now</th>
            </tr>
            </thead>
            <tbody>
            {% for i in RU %}
            <tr>
              <td>{{i.first_name}} {{i.last_name}}</td>
              <td>{{i.date_joined}}</td>
              <td>
                  {% for j in LU %}
                  {% if i == j.user %}
                     {{j.StartTime}}
              </td>
              <td>
                   {{j.CompTime}}
            </td>
            <td>
                {{j.score}}
            </td>
            </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </tbody>
          </table>
        </div>
        </div>
    </details>
    <br>
    <!--
      <hr><br>
      <details>
      <summary><h3 style="display: inline;cursor:pointer">Questions Review</h3></summary>
      <p style="margin-left: 10px;">
      {% for i in que %}
       <strong> Q. {{ i.id }}) {{i.question}} ?</strong><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Description : {{i.questiondesc}} <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Answer : {{i.answer}} <br>
        {% if i.id != lq %}
        <br> 
        {% endif %}
      {% endfor %}
    </p>
    </details>
    <br> -->
    <hr>
    {% endif %}
    <h4>
    {% for i in messages %}
        {{i}}
    {% endfor %}
    </h4>
</body>
</html>